h1 {
    text-align: center;
    font-size: 22px;
}

table {
    border: 3px solid black;

}

th,
td {
    border-spacing: 0px;
    border: 2px solid black;
    padding: 0px;
}

.frnd:nth-child(even) {
    background-color: gray;
}

#Nazadf {
    font-style: italic;
}

h2 {
    text-align: center;
}

#info {
    text-align: center;
    font-weight: bold;
    background-color: green;
}

.last {
    text-align: right;
}

@media (max-width: 768px) {
    th {
        font-size: 110%;
    }
}

@media (max-width: 992px) and (min-width: 768px) {
    th {
        font-size: 120%;
    }

    td {
        font-size: 110%;
    }
}

@media (min-width: 992px) {
    th {
        font-size: 130%;
    }

    td {
        font-size: 120%;
    }
}
