h1 {
    text-align: center;
    font-size: 22px;
}

#Nazadn {
    font-style: italic;
    width: 100%;
}

h2 {
    text-align: center;
}



.name li:nth-child(odd) {
    background-color: gray;
}

.name li:nth-child(even) {
    background-color: white;
}

ol li :nth-child(3),
ol li :nth-child(5) {
    cursor: pointer;
}

ol li :nth-child(4) {
    background-color: #875148;
}

.row {
    width: 100%;
    display: flex;
}

@media(min-width: 992px) {
    .col-lg-6 {
        width: 50%;
    }
}
